html, body {
  font: 1rem serif;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  border: 3px solid rgba(135, 30, 210, 0.654);
  padding: 8px;
  margin: 5px;
}
